html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#popup-content {
  width: 300px;
  margin: 10px;
}

#popup-content > div {
  margin-bottom: 10px;
}

#dl-button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: navy;
  color: gainsboro;
  border: none;
  margin-top: 0.5em;
  cursor: pointer;
}

#numactivities {
  width: 5em;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: #2c2c2c #2c2c2c transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 16px;
  height: 16px;
  border-color: #2c2c2c #2c2c2c transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-container {
  padding-bottom: 0.5em;
  text-align: center;
  display: none;
}

#popup-info-container {
  min-height: 40px;
}

#error-content {
  display: none;
  color: #b32a00;
}

#success-content {
  display: none;
  color: #208d12;
}

#instruction-wrong-url {
  display: none;
}

#instruction-other {
  display: none;
}
